<footer class="footer" [ngStyle]="{ 'background-color': footerColor }">
  <div class="footer-container">
    <!--lenapopena: Mal auskommentiert -brauchen wir eigentlich nicht unbedingt
    <div class="footer-column">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    -->
    <div class="footer-column">
      <a href="#">Home</a>
      <a href="#studies">Studies</a>
      <a href="#whyiwp">Why IWP</a>
    </div>
    <div class="footer-column legal">
      <a href="#">Impressum</a>
      <a href="#">Datenschutz</a>
    </div>
    <div class="footer-column back-to-top-column">
      <button class="back-to-top" type="button" (click)="scrollToTop()">&#8593;</button>
      <div class="back-label">Back to top</div>
    </div>
  </div>
</footer>
