<div id="headerCover"></div>

<div class="box">
  <div id="head">
    <p>{{ topicData.topic }}</p>
    <h1>{{ topicData.structure.title }}</h1>
    <p class="italic">{{ topicData.structure.author }}</p>
  </div>

  <div class="spacer"></div>

  <div *ngFor="let section of topicData.structure.sections">
    <div *ngIf="section">
      <app-sturcture-block [header]="section.title" [text]="section.content"
                           [imageLink]="section.imageLink"></app-sturcture-block>
    </div>
  </div>

  <div class="spacer"></div>

  <div *ngIf="topicData.structure.posterLink || topicData.topic.toLowerCase() !== 'About'.toLowerCase()">
    <app-poster-button [link]="topicData.structure.posterLink"
                       [backgroundColor]="topicData.secondaryColor"></app-poster-button>
  </div>
  <div class="spacer"></div>
</div>
