.box {

  font-family: "Josefin Sans", sans-serif;
}

.box h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.box #arrowDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box div img {
  height: 300%;
}

#head {
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 15vw;
}

.spacer {
  height: 10vh;
}

.topics {
  justify-content: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 20px;
}

.topics h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0.5rem;
  text-align: center;
}

.topic {
  height: 40vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
