.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.logo {
  height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  padding: 10px 15px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: inherit;
}

.nav-links li a:hover {
  color: white;
  background-color: black;
}
